@media (min-width: 1024px) {
  .body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 400px) 900px auto;
    grid-template-areas: "header header"
                         "working working"
                         "restaurant restaurant"
                         "footer footer";


    font-family: roboto, sans-serif, Droid Serif;
    position: relative;
  }

}

@media (min-width: 768px) {
  .body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 400px) 700px auto;
    grid-template-areas: "header header"
                         "working working"
                         "restaurant restaurant"
                         "footer footer";


    font-family: roboto, sans-serif, Droid Serif;
    position: relative;
  }

}

@media (max-width: 767px) {
  .body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 400px) 1260px auto;
    grid-template-areas: "header"
                         "working"
                         "restaurant"
                         "footer";


    font-family: roboto, sans-serif, Droid Serif;
    position: relative;
  }
}


.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}